</br><h1> Editer l'évènement </h1></br>

<div class="card-position">
  <div class="card" style="width: 40rem;">
    <%= form_for @event do |f| %>

      <div class="form-group mt-4">
        <label>Nom de l'évènement</label>
        <%= f.text_field :title, class: 'form-control m-2' %>
      </div>

      <div class="form-group">
        <label>Description de l'évènement</label>
        <%= f.text_area :description, class: 'form-control m-2' %>
      </div>

      <div class="form-group">
        <label>Lieu de l'évènement</label>
        <%= f.text_area :location, class: 'form-control m-2' %>
      </div>

      <div class="form-group">
        <label>Date de début</label></br>
        <%= f.datetime_field :start_date, class: 'form-control m-4' %>
      </div>

      <div class="form-group">
        <label>Durée de l'évènement</label>
        <%= f.number_field :duration, min: 0, step: 5, class: 'form-control m-2' %>
      </div>

      <div class="form-group">
        <label>Prix de l'évènement</label>
        <%= f.number_field :price, min: 1, max: 1000, step: 1, class: 'form-control m-2' %>
      </div>

      </br><div class="form_group" data-turbo=false>
        <button type="submit" class="btn btn-primary m-2" form: {style: 'display:inline-block;'}> Modifier l'évènement</button>
      </div>
     <% end %>
    <%= button_to "Supprimer l'évènement", event_path, form: { data: { turbo_confirm: "Veux-tu supprimer cet évènement (et rendre des gens malheureux...) ?" }, style: 'display:inline-block;'}, class:"btn btn-danger m-3", style:"display: inline;", method: :delete %>
    
    <div>
    <% if @event.event_picture.attached? %>
      <%= image_tag @event.event_picture, width: "50%", style:"border-radius: 15px;" %>
    <% else %>
        <p>=== Il n'y a pas encore d'image liée à cet évènement ===</p>
    <% end %>
    </div>
      <h3 class="m-3">Changer La photo de l'évènement</h3>
      <%= form_tag event_event_pictures_path(@event), multipart: true do %>
        <%= file_field_tag :event_picture %>
        <%= submit_tag "mettre à jour", class:"btn-pic" %>
        </br></br>

    <% end %>
  </div>
</div>